.footer {
  display: flex;
  min-height: 33vh;
  width: 100%;
  background: linear-gradient(
      to right,
      var(--primary_black) 0,
      var(--primary_black) 33.3%,
      var(--min_jioni) 33.3%,
      var(--min_jioni) 66.6%,
      var(--jioni) 66.6%,
      var(--jioni)
    )
    no-repeat;
  background-size: 100% 3px;
}
.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 28vh;
}
.footer__logo__container {
  display: flex;
  margin-top: 10px;
}
.footer__logo__container > img {
  width: 240px;
}
.footer__text__container {
  display: flex;
  font-weight: 400;
  color: var(--primary_black);
  font-size: 1.2rem;
  margin: 5px 0px 0px 10px;
}
@media screen and (min-width: 300px) and (max-width: 399px) {
  .footer {
    min-height: 18vh;
  }
  .footer__container {
    min-height: 16vh;
  }
  .footer__logo__container > img {
    width: 110px;
    height: 60px;
  }
  .footer__text__container {
    color: var(--primary_black);
    font-size: 11px;
    margin: 3px 0px 0px 10px;
  }
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  .footer {
    min-height: 20vh;
  }
  .footer__container {
    min-height: 18vh;
  }
  .footer__logo__container > img {
    width: 120px;
    height: 70px;
  }
  .footer__text__container {
    color: var(--primary_black);
    font-size: 13px;
    margin: 5px 0px 0px 10px;
  }
}
