.aboutUs__bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 130vh;
}
.aboutUs__bio__header {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  padding-left: 70px;
  margin-top: 50px;
}
.aboutUs__bio__header > h1 {
  color: var(--primary_black);
  font-size: 3.8rem;
  padding-left: 10px;
}
.aboutUs__bio__liner {
  width: 200px;
  height: 10px;
  background-color: var(--jioni);
}
.aboutUs__txtImg {
  display: flex;
  /* background: url(../../Images/aboutUs__bio__bcg.svg); */
  background-image: url('../../Asset/aboutUs__bio__bcg.svg'),
  linear-gradient(to bottom, var(--white), var(--white), 
   rgb(230, 61, 9, 0.98));
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 125vh;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 40px;
}
.aboutUs__bio__img {
  display: flex;
  align-items: center;
  width: 52%;
  height: 75vh;
  background: url(../../Asset/arusha__cityView.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.aboutUs__bioImg__innerDiv {
  width: 4vw;
  height: 60vh;
  background-color: var(--ghost_white);
  margin-left: auto;
}
.aboutUs__bio__txt__container {
  display: flex;
  width: 40%;
  min-height: 75vh;
  align-items: center;
}
.aboutUs__bio__txt {
  width: 100%;
  min-height: 60vh;
  background-color: var(--ghost_white);
  display: flex;
  flex-direction: column;
}
.aboutUs__bio__txtheader {
  padding-top: 60px;
  display: flex;
  height: 7vh;
  align-items: center;
}
.aboutUs__bio__txtheader > h2 {
  font-size: 1.8rem;
  color: var(--primary_black);
}
.aboutUs__bio__txt > p {
  font-size: 1.2rem;
  color: var(--primary_black);
  text-align: justify;
  padding: 30px 20px 0px 0px;
}
/* Media queries 300px - 349px */
@media screen and (min-width: 300px) and (max-width: 349px) {
  .aboutUs__bio {
    padding: 5px;
    min-height: 100vh;
    width: 100%;
    background: rgb(235, 140, 52);
    background: linear-gradient(
      0deg,
      rgba(235, 140, 52, 1) 1%,
      rgba(255, 255, 255, 1) 41%
    );
  }
  .aboutUs__bio__header {
    height: 5vh;
    padding-left: 5px;
    margin-top: 0px;
    padding-top: 30px 0x;
  }
  .aboutUs__bio__header > h1 {
    color: var(--primary_black);
    font-size: 23px;
    padding-left: 10px;
  }
  .aboutUs__bio__liner {
    width: 40px;
    height: 3px;
  }
  .aboutUs__txtImg {
    background-size: 100%;
    width: 100%;
    min-height: 110vh;
    flex-direction: column;
    display: flex;
    padding-bottom: 0px;
    padding-top: 150px;
    padding-left: 0px;
  }
  .aboutUs__bioImg__innerDiv {
    display: none;
  }
  .aboutUs__bio__img {
    width: 100%;
    height: 40vh;
    margin-top: -2px;
  }
  .aboutUs__bio__txt__container {
    width: 100%;
    min-height: 60vh;
    justify-content: center;
  }
  .aboutUs__bio__txt {
    width: 100%;
    min-height: 50vh;
    padding: 0px 8px 20px 8px;
  }
  .aboutUs__bio__txtheader {
    padding-top: 20px;
    height: 5vh;
  }
  .aboutUs__bio__txtheader > h2 {
    font-size: 22px;
  }
  .aboutUs__bio__txt > p {
    font-size: 17px;
    color: var(--primary_black);
    text-align: justify;
  }
}
/* Media queries 350px - 399px */
@media screen and (min-width: 350px) and (max-width: 399px) {
  .aboutUs__bio {
    padding: 5px;
    min-height: 100vh;
    width: 100%;
    background: rgb(235, 140, 52);
    background: linear-gradient(
      0deg,
      rgba(235, 140, 52, 1) 1%,
      rgba(255, 255, 255, 1) 41%
    );
  }
  .aboutUs__bio__header {
    height: 5vh;
    padding-left: 5px;
    margin-top: 0px;
    padding-top: 30px 0x;
  }
  .aboutUs__bio__header > h1 {
    color: var(--primary_black);
    font-size: 26px;
    padding-left: 10px;
  }
  .aboutUs__bio__liner {
    width: 60px;
    height: 4px;
  }
  .aboutUs__txtImg {
    background-size: 100%;
    width: 100%;
    min-height: 110vh;
    flex-direction: column;
    display: flex;
    padding-bottom: 0px;
    padding-top: 150px;
    padding-left: 0px;
  }
  .aboutUs__bioImg__innerDiv {
    display: none;
  }
  .aboutUs__bio__img {
    width: 100%;
    height: 40vh;
    margin-top: -2px;
  }
  .aboutUs__bio__txt__container {
    width: 100%;
    min-height: 60vh;
    justify-content: center;
  }
  .aboutUs__bio__txt {
    width: 100%;
    min-height: 50vh;
    padding: 0px 8px 20px 8px;
  }
  .aboutUs__bio__txtheader {
    padding-top: 20px;
    height: 5vh;
  }
  .aboutUs__bio__txtheader > h2 {
    font-size: 22px;
  }
  .aboutUs__bio__txt > p {
    font-size: 17px;
    color: var(--primary_black);
    text-align: justify;
  }
}
/* Media queries 400px - 768px*/
@media screen and (min-width: 400px) and (max-width: 768px) {
  .aboutUs__bio {
    padding: 5px;
    min-height: 100vh;
    width: 100%;
    background: rgb(235, 140, 52);
    background: linear-gradient(
      0deg,
      rgba(235, 140, 52, 1) 1%,
      rgba(255, 255, 255, 1) 41%
    );
  }
  .aboutUs__bio__header {
    height: 5vh;
    padding-left: 5px;
    margin-top: 0px;
    padding-top: 40px 0x;
  }
  .aboutUs__bio__header > h1 {
    color: var(--primary_black);
    font-size: 30px;
    padding-left: 10px;
  }
  .aboutUs__bio__liner {
    width: 80px;
    height: 5px;
  }
  .aboutUs__txtImg {
    background-size: 100%;
    width: 100%;
    min-height: 110vh;
    flex-direction: column;
    display: flex;
    padding-bottom: 0px;
    padding-top: 150px;
    padding-left: 0px;
  }
  .aboutUs__bioImg__innerDiv {
    display: none;
  }
  .aboutUs__bio__img {
    width: 100%;
    height: 40vh;
    margin-top: -2px;
  }
  .aboutUs__bio__txt__container {
    width: 100%;
    min-height: 60vh;
    justify-content: center;
  }
  .aboutUs__bio__txt {
    width: 100%;
    min-height: 50vh;
    padding: 0px 8px 20px 8px;
  }
  .aboutUs__bio__txtheader {
    padding-top: 20px;
    height: 5vh;
  }
  .aboutUs__bio__txtheader > h2 {
    font-size: 22px;
  }
  .aboutUs__bio__txt > p {
    font-size: 17px;
    color: var(--primary_black);
    text-align: justify;
  }
}
